<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keskusteluforum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Keskusteluforum</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if session.username %}
    Tervetuloa {{ session.username }}!

    <p>
    {% if session.username == "admin" %}
        <a href="{{url_for('new_category')}}" class="btn btn-primary">Uusi kategoria</a>
    {% endif %}
    <a href="{{url_for('new_thread')}}" class="btn btn-primary">Uusi ketju</a>
    <a href="{{url_for('logout')}}" class="btn btn-primary">Kirjaudu ulos</a>

    <form action="/search_posts" method="GET">
        Hakusana: <input type="text" name="query">
        <input type="submit" value="Hae">
    </form>

    {% if forum_categories  %}
        {% for category_id, category in forum_categories.items() %}
            {% if session.username == "admin" or not category.is_restricted or category.user_has_permission(user_id) %}

                <h3>{{ category.name }} ({{category.total_threads()}} ketjua, {{category.total_posts()}} viestiä yhteensä)</h3>
                {%if session.username == "admin" %}
                    <a href="/delete_category/{{ category_id }}">Poista kategoria</a>
                {% endif %}

                {% for thread in category.threads.values() %}
                <ul class="no-bullet">
                    <li> <a href="/thread/{{ thread.thread_id }}">{{thread.title}}</a>
                        <span style="font-size: small;"><b> - {{thread.username}}</b>
                            ({{thread.created.strftime("%d-%m-%Y - %H:%M:%S")}})
                            (Tuorein viesti: {{thread.dt_most_recent_post().strftime("%d-%m-%Y - %H:%M:%S")}})</span></li>
                    <li class="indented">{{ thread.content|truncate(50, True)}}</li>
                </ul>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% else %}
    <form action="/login" method="POST">
        Käyttäjätunnus<br>
        <input type="text" name="username"><br>
        Salasana<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Kirjaudu">
    </form>
    <p><a href="{{url_for('new_user')}}" class="btn btn-primary">Rekisteröidy</a>
{% endif %}


</body>
</html>
