<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keskusteluforum</title>
</head>
<body>

<style>
    .no-bullet {
      list-style-type: none;
    }

    .indented {
        text-indent: 10px;
    }

    .large-font {
        font-size: 120%;
    }

</style>

<h1>Keskusteluforum</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if session.username %}
    Tervetuloa {{ session.username }}!

    {% if forum_threads  %}
        {% for category, list_of_threads in forum_threads.items() %}
            <h3>{{ category }}</h3>

            {% for thread in list_of_threads %}
            <ul class="no-bullet">
                <li> <a href="/thread/{{ thread.thread_id }}"><b>{{ thread.title}}</b></a></li>
                <li class="indented">{{ thread.content}}</li>
            </ul>
            {% endfor %}

        {% endfor %}
    {% endif %}

{% else %}
    <form action="/login" method="POST">
        Käyttäjätunnus<br>
        <input type="text" name="username"><br>
        Salasana<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Kirjaudu">
    </form>
    <p><a href="{{url_for('new_user')}}" class="btn btn-primary">Rekisteröidy</a>
{% endif %}

{% if session.username %}
    <p><a href="{{url_for('logout')}}" class="btn btn-primary">Kirjaudu ulos</a>
{% endif %}

</body>
</html>
