<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rekisteröi uusi käyttäjätunnus</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Keskusteluforum</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="color: {{ 'green' if category == 'success' else 'red' }}">
                {{ message }}
            </div>
        {% endfor %}
    <br>
    {% endif %}
{% endwith %}

<h3>Rekisteröidy</h3>


<form action="/register" method="POST">
    Käyttäjätunnus<br>
    <input type="text" name="username"><br>
    Salasana<br>
    <input type="password" name="password2"><br>
    Salasana uudelleen<br>
    <input type="password" name="password1"><br>
    <input type="submit" value="Luo tunnus">
</form>

</body>
</html>
