<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vastaa ketjuun {{thread.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Keskusteluforum</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="color: {{ 'green' if category == 'success' else 'red' }}">
                {{ message }}
            </div>
        {% endfor %}
    <br>
    {% endif %}
{% endwith %}

<span class="hover-box">
    <p style="font-size: small; margin-bottom: 0; margin-top: 0;">
    <b>{{thread.username}}</b> ({{thread.created.strftime("%d-%m-%Y - %H:%M:%S")}}):
    <h3>{{thread.title}}</h3>
    {{thread.content}}<br>
</span><br>

<ul>
{% for reply in thread.replies.values() %}
    <li class="hover-box">
    <span style="font-size: small;">
        <b>{{reply.likes|length}} 👍 {{reply.username}}</b> ({{reply.reply_tstamp.strftime("%d-%m-%Y - %H:%M:%S")}}):<br>
    </span>
    {{reply.content}}
{% endfor %}
</ul>

<span class="reply-box">
    <h3>Vastaa käyttäjän {{thread.username}} ketjuun:</h3>

    <form action="/submit_reply/{{thread.thread_id}}" method="post">
        <textarea name="content" rows="10" cols="50"></textarea>
        <br><input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</span>

</body>
</html>
