<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luo uusi kategoria</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Keskusteluforum</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="color: {{ 'green' if category == 'success' else 'red' }}">
                {{ message }}
            </div>
        {% endfor %}
    <br>
    {% endif %}
{% endwith %}

<h3>Luo uusi kategoria</h3>

<form action="/create_category" method="POST">
    Kategorian nimi:<br>
    <input type="text" name="category_name" value="{{category_name}}"><br><br>
    Kategorian käyttäjät:<br><br>
    <input type="checkbox" name="all" value="all"> kaikki

    <p>
    Tai mukauta:
    {% for user_id, username in user_ids_and_names %}
        <input type="checkbox" name="sel_users" value="{{user_id}}"> {{username}}
    {% endfor %}

    <p>
    <input type="submit" value="Luo">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

</body>
</html>
