<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uusi kategoria</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Keskusteluforum</h1>

<h2>Luo uusi kategoria</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form action="/create_category" method="POST">
    Kategorian nimi:<br>
    <input type="text" name="category_name" value="{{category_name}}">
    <p>Kategorian käyttäjät:<br>
    <br><input type="checkbox" name="all" value="all"> kaikki

    <p>
    Tai mukauta:
    {% for user_id, username in user_ids_and_names %}
        <input type="checkbox" name="sel_users" value="{{user_id}}"> {{username}}
    {% endfor %}

    <p>
    <input type="submit" value="Luo">

</form>

</body>
</html>