<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vastaa ketjuun {{thread.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Keskusteluforum</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="color: {{ 'green' if category == 'success' else 'red' }}">
                {{ message }}
            </div>
        {% endfor %}
    <br>
    {% endif %}
{% endwith %}

<h3>Vastaa käyttäjän {{thread.username}} ketjuun:</h3>

<form action="/submit_reply/{{thread.thread_id}}" method="post">
    <textarea name="message" rows="10" cols="50"></textarea>
    <br><input type="submit" value="Lähetä">
</form>

</body>
</html>
