<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keskusteluforum - {{thread.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Keskusteluforum</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div style="color: {{ 'green' if category == 'success' else 'red' }}">
                {{ message }}
            </div>
        {% endfor %}
    <br>
    {% endif %}
{% endwith %}

{% if session.username %}
    <a href="{{url_for('index')}}" class="btn btn-primary, normal-link">Etusivulle</a>
    <a href="{{url_for('logout')}}" class="btn btn-primary, normal-link">Kirjaudu ulos</a><br><br>

    <span class="hover-box">
        <p style="font-size: small; margin-bottom: 0; margin-top: 0;">
        <b>{{thread.username}}</b> ({{thread.created.strftime("%d-%m-%Y - %H:%M:%S")}}):
        <h3>{{thread.title}}</h3>
        {{thread.content}}<br>
        {% if thread.username == session.username %}<br>
            <a href="/edit_thread/{{ thread.thread_id }}" class="btn btn-primary, normal-link">Muokkaa</a>
            <a href="/delete_thread/{{ thread.thread_id }}" class="btn btn-primary, danger-link">Poista</a><br>
        {% endif %}
    </span>

    <ul>
    {% for reply in thread.replies.values() %}
        <li class="hover-box">
            <span style="font-size: small;">
                <b>{{reply.likes|length}} 👍 {{reply.username}}</b> ({{reply.reply_tstamp.strftime("%d-%m-%Y - %H:%M:%S")}}):<br>
            </span>

        {{reply.content}}

        <br>
        {% if reply.username == session.username %}
            <a href="/edit_reply/{{ thread.thread_id }}/{{ reply.reply_id }}" class="btn btn-primary, normal-link">Muokkaa</a>
            <a href="/delete_reply/{{ thread.thread_id }}/{{ reply.reply_id }}" class="btn btn-primary, danger-link">Poista</a><br>
        {%else%}
            {%if not reply.has_been_liked_by(user_id) %}
                <a href="/like_reply/{{ thread.thread_id }}/{{ reply.reply_id }}" class="btn btn-primary, normal-link">Tykkää</a>
            {%else%}
                <a href="/unlike_reply/{{ thread.thread_id }}/{{ reply.reply_id }}" class="btn btn-primary, normal-link">Älä tykkää</a>
            {%endif%}
        {% endif %}

    {% endfor %}
    </ul>

    <p><a href="/new_reply/{{ thread.thread_id }}" class="btn btn-primary, normal-link">Vastaa</a>

{% endif %}

</body>
</html>
