<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keskusteluforum - {{thread.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>{{thread.title}}</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if session.username %}
    <p style="font-size: small;">
        <b>{{thread.username}}</b> ({{thread.created.strftime("%d-%m-%Y - %H:%M:%S")}}):
    <p>
    {{thread.content}}<br>
    {% if thread.username == session.username %}
    <a href="/edit_thread/{{ thread.thread_id }}" class="btn btn-primary">Muokkaa</a>
    <a href="/delete_thread/{{ thread.thread_id }}" class="btn btn-primary">Poista</a><br>
    {% endif %}


    <ul>
    {% for reply in thread.replies %}
    <li>
        <span style="font-size: small;">
            <b>{{reply.username}}</b> ({{reply.reply_tstamp.strftime("%d-%m-%Y - %H:%M:%S")}}):<br>
        </span>
        {{reply.content}}
        {% if reply.username == session.username %}
        <br><a href="/edit_reply/{{ thread.thread_id }}/{{ reply.reply_id }}" class="btn btn-primary">Muokkaa</a>
        <a href="/delete_reply/{{ thread.thread_id }}/{{ reply.reply_id }}" class="btn btn-primary">Poista</a><br>
        {% endif %}

    {% endfor %}
    </ul>

    <p><a href="/new_reply/{{ thread.thread_id }}" class="btn btn-primary">Vastaa</a>
    <p><a href="{{url_for('index')}}" class="btn btn-primary">Etusivulle</a>
    <p><a href="{{url_for('logout')}}" class="btn btn-primary">Kirjaudu ulos</a>
{% endif %}

</body>
</html>
